################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/eefs_lib
/.vs
main.c
main.c.orig
HAL/hal_rtc.c
HAL/hal_rtc.h
